
@{
    ViewData["Title"] = "HttpError";
}
<hr />
<hr />
<hr />
<hr />
<hr />
<hr />
<hr />

<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
                <h1 class="title-single"></h1>
            </div>
        </div>
        <div class="col-md-12 col-lg-4">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
                <h1 class="title-single"></h1>
            </div>
        </div>
        <div class="col-md-12 col-lg-4">
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <img src="https://res.cloudinary.com/sharwinchester/image/upload/v1586824891/Categories/page-not-found-5-530376_zjbwdk.webp" />
                <h3>Грешка!</h3>
                <p>
                    За съжаление страницата, която търсите, не може да бъде открита!
                </p>
            </div>
        </div>
    </div>
</section>
