@{ this.ViewData["Title"] = "Privacy Policy"; }

<p>Ние използваме бисквитки или подобни инструменти на нашите сайтове, за да подобрим тяхното представяне и вашето преживяване. Тази политика обяснява как правим това.</p>
<h3>Какво са бисквитки?</h3>
<p>Бисквитките са малки текстови файлове, които уебсайтът може да запише на вашия компютър или мобилно устройство, когато посещавате страница или сайт. Бисквитката ще помогне на сайта или на други сайтове да разпознаят вашето устройство следващия път, когато го посетите. Web beacons или други подобни файлове могат да правят същото. Използваме термина бисквитки в тази политика, за да назоваваме всички файлове, които събират информация по този начин.</p>
<p>Бисквитките изпълняват множество различни функции. Например, те ни помагат да запомним вашето потребителско име или предпочитания, да анализираме колко добре се представят нашите сайтове или дори ни позволяват да ви препоръчаме съдържание, което смятаме, че ще бъде интересно за вас.</p>
<p>Повечето бисквитки не събират информация, която може да ви идентифицира, а по-скоро събират обща информация за това как потребителите достигат до нашите сайтове и ги използват или какво е тяхното местоположение.</p>
<h3>Какви видове бисквитки използват сайтовете?</h3>
<p>По принцип бисквитките изпълняват 4 различни функции:</p>
<h3>Важни бисквитки</h3>
<p>Тези „бисквитки“ са от съществено значение, за да ви се даде възможност да се движите в уебсайтовете и да използвате техните функции. Без тези „бисквитки“ не могат да бъдат предоставени услугите, които сте поискали (такива като навигация между страници, показване на съдържанието в избран език).</p>
<h3>Бисквитки, свързани с ефективността на сайта</h3>
<p>Използваме аналитични „бисквитки“, за да анализираме как нашите посетители използват уебсайтовете и да следим ефективността им. Това ни позволява да осигурим преживяване с високо качество, като персонализираме нашето предлагане и бързо идентифицираме и решаваме каквито и да било проблеми, които възникват. Например, може да използваме „бисквитки“ за ефективност, за да проследяваме кои страници са най-популярни, кой метод за свързване между страниците е най-ефективен и да определим защо някои страници получават съобщения за грешки. Ние можем също така да използваме тези „бисквитки“, за да подчертаем статии или услуги на сайта, които считаме, че ще представляват интерес за вас, въз основа на вашето използване на уебсайтовете. Събраната от тези „бисквитки“ информация не се свързва с вашите лични данни от нас или от нашите контрагенти.</p>
<h3>Функционални бисквитки</h3>
<p>Използваме този тип „бисквитки“, за да ви предоставим определена функционалност – например да запомните изборите, които сте направили (като например избор на език или региона, в който се намирате) или да разпознаем платформата, от която осъществявате достъп до уебсайтовете, както и да ви осигурим подобрени и персонални функции. Тези „бисквитки“ не се използват за проследяване на браузването ви в други сайтове.</p>
<h3>Дали някой друг използва бисквитки на сайтовете ни?</h3>
<p>Ние използваме или разрешаваме на трети страни да използват на нашите сайтове бисквитки, които влизат в четирите категории, които са споменати по-горе. Например, както много компании, използваме Google Analytics, за да наблюдаваме трафика на нашите сайтове.</p>
<p>Може да използваме бисквитки на трети страни, които да ни помогнат в проучване на пазара, следене на приходите, подобряване на функционалността и наблюдение на спазването на нашите правила и условия, и политиката за авторски права.</p>
<h3>Как да изключите бисквитките?</h3>
<p>Всички съвременни браузъри ви позволяват да променяте настройките за бисквитки. Обикновено можете да намерите тези настройки в меню „опции“ или „предпочитания“ на вашия браузър. За да сте наясно с тези настройки, следните линкове могат да Ви помогнат или можете да използвате бутона „Помощ“ от менютата на Вашия браузър за повече детайли:</p>
<p>Cookie settings in Internet Explorer<br />Cookie settings in Firefox<br />Cookie settings in Chrome<br />Cookie settings in Safari web and iOS.</p>
<p>Моля да запомните, че ако решите да спрете бисквитките, някои секции от нашия сайт може да не работят правилно.</p>
<p>Използвате ли бисквитки, които съдържат личните ми данни?<br />Не, бисвиктките, които използваме, са анонимни и не съдържат никакви лични данни.</p>
<p>Ако имате някакви въпроси по отношение на тази Политика за бисквитки, <a asp-area="" asp-controller="Contacts" asp-action="Index">свържете се с нас</a>.</p>